[submodule "DofusProtocolUpdater"]
	path = DofusProtocolUpdater
	url = https://github.com/Leommjr/DofusProtocolUpdater
[submodule "VLDofusBot"]
	path = VLDofusBot
	url = https://github.com/Leommjr/VLDofusBot
[submodule "VLDofusBotSniffer"]
	path = VLDofusBotSniffer
	url = https://github.com/Leommjr/VLDofusBotSniffer
[submodule "VLDofusBotCore"]
	path = VLDofusBotCore
	url = https://github.com/Leommjr/VLDofusBotCore
